In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

# Importing the dataset and deriving the dependant and independant variables

In [2]:
file = '../ETL/model_dataset_cleaned.csv'
olympic_df = pd.read_csv(file)
olympic_df

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze,population,gdp_per_capita,dob_converted,age,total_medals,placed
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0,4.641827e+07,25831.582305,2069-10-17,46,0,0
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0,5.061704e+07,27221.524051,1986-09-23,29,0,0
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1,3.585177e+07,43248.529909,1992-05-27,24,1,1
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0,3.554150e+06,1848.061804,1991-01-02,25,0,0
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0,4.595700e+06,37807.967276,1990-11-26,25,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10104,801825063,Zurabi Iakobishvili,GEO,male,2/4/92,1.71,68.0,wrestling,0,0,0,3.679000e+06,3795.973308,1992-02-04,24,0,0
10105,214461847,Zuzana Hejnova,CZE,female,12/19/86,1.73,63.0,athletics,0,0,0,1.055122e+07,17548.338213,1986-12-19,29,0,0
10106,88361042,di Xiao,CHN,male,5/14/91,1.85,100.0,wrestling,0,0,0,1.371220e+09,8027.683810,1991-05-14,25,0,0
10107,900065925,le Quoc Toan Tran,VIE,male,4/5/89,1.60,56.0,weightlifting,0,0,0,9.170380e+07,2111.138024,1989-04-05,27,0,0
10108,711404576,le Roux Hamman,RSA,male,1/6/92,1.85,70.0,athletics,0,0,0,5.495692e+07,5723.973357,1992-01-06,24,0,0

In [3]:
olympic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10109 entries, 0 to 10108
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10109 non-null  int64
 1   name            10109 non-null  object
 2   nationality     10109 non-null  object
 3   sex             10109 non-null  object
 4   dob             10109 non-null  object
 5   height          10109 non-null  float64
 6   weight          10109 non-null  float64
 7   sport           10109 non-null  object
 8   gold            10109 non-null  int64
 9   silver          10109 non-null  int64
 10  bronze          10109 non-null  int64
 11  population      10109 non-null  float64
 12  gdp_per_capita  10109 non-null  float64
 13  dob_converted   10109 non-null  object
 14  age             10109 non-null  int64
 15  total_medals    10109 non-null  int64
 16  placed          10109 non-null  int64
dtypes: float64(4), int64(7), object(6)
memory usage: 1.3+ MB

In [4]:
#dropping descriptive columns as well as the dependant variables (gold, silver, bronze, total medals, placed)
X = olympic_df.drop(columns=["id", "name", "gold","dob", "dob_converted", "bronze","silver","population","total_medals","placed"])

#create dummy columns for sport and sex 
obj_columns = ["sport", "sex", "nationality"]
X = pd.get_dummies(X, obj_columns)

X.head()

,height,weight,gdp_per_capita,age,sport_AFG,sport_ALB,sport_ALG,sport_ANG,sport_ANT,sport_ARG,...,nationality_rugby sevens,nationality_sailing,nationality_shooting,nationality_table tennis,nationality_taekwondo,nationality_tennis,nationality_triathlon,nationality_volleyball,nationality_weightlifting,nationality_wrestling
0,1.72,64.0,25831.582305,46,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.68,56.0,27221.524051,29,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.98,79.0,43248.529909,24,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.83,80.0,1848.061804,25,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1.81,71.0,37807.967276,25,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
#Here we are using the binary outcome "placed" as the depedant variable
y=olympic_df["placed"]

In [6]:
y.value_counts()

0    8458
1    1651
Name: placed, dtype: int64

In [7]:
y

0        0
1        0
2        1
3        0
4        0
        ..
10104    0
10105    0
10106    0
10107    0
10108    0
Name: placed, Length: 10109, dtype: int64

### Splitting the dataset using train_test_split

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

## Logistic Regression using Naive Random Oversampling

In [9]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 6371, 1: 6371})

In [10]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X, y)

LogisticRegression(random_state=1)

In [11]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.49976042165788215

In [12]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[2086,    1],
       [ 441,    0]], dtype=int64)

In [13]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.83      1.00      0.00      0.90      0.00      0.00      2087
          1       0.00      0.00      1.00      0.00      0.00      0.00       441

avg / total       0.68      0.83      0.17      0.75      0.00      0.00      2528

0.0

## SMOTE Oversampling

In [14]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1,
sampling_strategy='auto').fit_resample(
   X_train, y_train)
Counter(y_resampled)

Counter({0: 6358, 1: 6358})

In [15]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [16]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.5950178015131287

In [17]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[1243,  857],
       [ 172,  256]], dtype=int64)

In [18]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.88      0.59      0.60      0.71      0.60      0.35      2100
          1       0.23      0.60      0.59      0.33      0.60      0.35       428

avg / total       0.77      0.59      0.60      0.64      0.60      0.35      2528

## Undersampling

In [19]:
# Resample the data using the ClusterCentroids resampler
from imblearn.under_sampling import ClusterCentroids
ccus = ClusterCentroids(random_state=1)
X_resampled, y_resampled = ccus.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 1223, 1: 1223})

In [20]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\Matt\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

In [21]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.5746395193591456

In [22]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[ 549, 1551],
       [  48,  380]], dtype=int64)

In [23]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.92      0.26      0.89      0.41      0.48      0.22      2100
          1       0.20      0.89      0.26      0.32      0.48      0.25       428

avg / total       0.80      0.37      0.78      0.39      0.48      0.22      2528

## Combination (Over and Under) Sampling (SMOTEENN)

In [24]:
# Resample the training data with SMOTEENN
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=1)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
Counter(y_resampled)

Counter({0: 4653, 1: 6709})

In [25]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [26]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.638235425011126

In [27]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[1189,  911],
       [ 124,  304]], dtype=int64)

In [28]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.91      0.57      0.71      0.70      0.63      0.40      2100
          1       0.25      0.71      0.57      0.37      0.63      0.41       428

avg / total       0.79      0.59      0.69      0.64      0.63      0.40      2528

# Random Forest 
Again using "placed" as the dependant variable

In [29]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.datasets import make_classification
clf = BalancedRandomForestClassifier(n_estimators=100, random_state=1).fit(X_train,y_train)

In [30]:
# Calculated the balanced accuracy score
y_pred = clf.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7910057854917668

In [31]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[1654,  446],
       [  88,  340]], dtype=int64)

In [32]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.95      0.79      0.79      0.86      0.79      0.63      2100
          1       0.43      0.79      0.79      0.56      0.79      0.63       428

avg / total       0.86      0.79      0.79      0.81      0.79      0.63      2528

In [33]:
# List the features sorted in descending order by feature importance
sorted(zip(clf.feature_importances_, X_test.columns), reverse=True)

[(0.1333135673076521, 'weight'),
 (0.12798642652324266, 'height'),
 (0.11522727293195008, 'age'),
 (0.10118383104284133, 'gdp_per_capita'),
 (0.026931416396363855, 'nationality_athletics'),
 (0.02004035078257427, 'sport_USA'),
 (0.0167855724016186, 'nationality_aquatics'),
 (0.016652477809768598, 'sex_male'),
 (0.015604812677893164, 'sex_female'),
 (0.014616620146561137, 'sport_RUS'),
 (0.013806141352996465, 'nationality_hockey'),
 (0.013539344552131495, 'sport_GER'),
 (0.012614322451619382, 'sport_GBR'),
 (0.012118809923120895, 'nationality_football'),
 (0.011158979213657806, 'nationality_rugby sevens'),
 (0.010604847314605141, 'nationality_cycling'),
 (0.009984676215640437, 'nationality_rowing'),
 (0.009646056942808515, 'sport_BRA'),
 (0.008967865912515843, 'nationality_volleyball'),
 (0.008954184713661559, 'nationality_canoe'),
 (0.008846759705192773, 'sport_CAN'),
 (0.00872409483431086, 'nationality_basketball'),
 (0.008710707550997433, 'nationality_sailing'),
 (0.008650567243391579, 'sport_FRA'),
 (0.008597266370912175, 'sport_CHN'),
 (0.008127358691553647, 'nationality_judo'),
 (0.007911543817655886, 'nationality_handball'),
 (0.00759704772907679, 'nationality_wrestling'),
 (0.007507915426287494, 'nationality_shooting'),
 (0.007366739755997408, 'nationality_gymnastics'),
 (0.007262842604773072, 'nationality_fencing'),
 (0.007091735757653843, 'sport_ESP'),
 (0.006859299949158803, 'sport_JPN'),
 (0.006722885126772228, 'sport_AUS'),
 (0.006359713079316375, 'sport_ITA'),
 (0.0062391961157164215, 'sport_JAM'),
 (0.006025480221205852, 'sport_NZL'),
 (0.0057418372190965895, 'nationality_equestrian'),
 (0.00556442800454022, 'nationality_weightlifting'),
 (0.005444619971375774, 'sport_NED'),
 (0.005347663870100438, 'sport_POL'),
 (0.005306094245182946, 'sport_DEN'),
 (0.005257140131205452, 'nationality_tennis'),
 (0.0052374265926437005, 'sport_ARG'),
 (0.005185834540433619, 'nationality_badminton'),
 (0.004863846906442934, 'nationality_taekwondo'),
 (0.004244035152548831, 'sport_SWE'),
 (0.004090760673338761, 'nationality_table tennis'),
 (0.0040199543728496176, 'sport_CRO'),
 (0.004008656937151232, 'sport_RSA'),
 (0.0037341505562299227, 'nationality_triathlon'),
 (0.0036068356582463906, 'sport_KOR'),
 (0.0035565684238759677, 'sport_HUN'),
 (0.00350580732768266, 'nationality_archery'),
 (0.0034558653501305433, 'nationality_golf'),
 (0.003351174561621323, 'sport_BEL'),
 (0.003177694989876444, 'sport_KEN'),
 (0.002969363908369256, 'sport_POR'),
 (0.0029500386613318195, 'sport_MEX'),
 (0.0027355742670114396, 'sport_UKR'),
 (0.002731162500026333, 'nationality_modern pentathlon'),
 (0.002684226380082055, 'sport_AZE'),
 (0.002526677638612215, 'sport_BLR'),
 (0.0025202754823480523, 'sport_CZE'),
 (0.0024590778951134656, 'sport_GRE'),
 (0.002444505770073056, 'sport_COL'),
 (0.0023030919816442365, 'sport_TUR'),
 (0.00229529392173387, 'sport_KAZ'),
 (0.0022928801897300153, 'sport_BUL'),
 (0.002244557818797265, 'sport_SUI'),
 (0.002228125946136871, 'sport_AUT'),
 (0.0020990701817158956, 'sport_EGY'),
 (0.002039419081049477, 'sport_FIN'),
 (0.0019431217091899716, 'sport_FIJ'),
 (0.0019348519257443488, 'sport_IND'),
 (0.0018969331947926251, 'sport_IRL'),
 (0.0018259144523377429, 'sport_LTU'),
 (0.0018189523884898137, 'sport_SVK'),
 (0.0017198920716982697, 'sport_GEO'),
 (0.0015836195619548816, 'sport_MAS'),
 (0.0015404318349034128, 'sport_ETH'),
 (0.0014182603001626005, 'sport_SLO'),
 (0.0013126682801204595, 'sport_UZB'),
 (0.0012840933844359582, 'sport_BAH'),
 (0.0012096656437279559, 'sport_QAT'),
 (0.001149877632549079, 'sport_ISR'),
 (0.0010798007037988635, 'sport_ALG'),
 (0.0010030507242676763, 'sport_TUN'),
 (0.0009690442082255165, 'sport_EST'),
 (0.000924876804664981, 'sport_HKG'),
 (0.0008696812923819686, 'sport_THA'),
 (0.0008358167679148984, 'sport_CHI'),
 (0.0008337964298687728, 'sport_NGR'),
 (0.0008332482676597569, 'sport_ARM'),
 (0.0007853204622709284, 'sport_SIN'),
 (0.0007731585683389102, 'sport_LAT'),
 (0.0007356624727578259, 'sport_INA'),
 (0.0006525223800604836, 'sport_MGL'),
 (0.0006024171506192133, 'sport_VIE'),
 (0.0005610118835447133, 'sport_MAR'),
 (0.0005606145442582691, 'sport_TJK'),
 (0.0005285744904277559, 'sport_IRQ'),
 (0.0005143166953638091, 'sport_MDA'),
 (0.0004993526201294692, 'sport_BRN'),
 (0.00046738334017882606, 'sport_BDI'),
 (0.00042860803760613525, 'sport_ZIM'),
 (0.00042438113896505966, 'sport_URU'),
 (0.00040962432296557316, 'sport_DOM'),
 (0.00039764824203872257, 'sport_JOR'),
 (0.00039706141683504726, 'sport_HON'),
 (0.00038002485355607274, 'sport_ECU'),
 (0.0003540611108900877, 'sport_ANG'),
 (0.0003527030843706837, 'sport_LUX'),
 (0.0003499418271550096, 'sport_PER'),
 (0.0002937463612237711, 'sport_UAE'),
 (0.00024633332214258794, 'sport_ISL'),
 (0.00024188771537215207, 'sport_MRI'),
 (0.00022863358650613574, 'sport_NIG'),
 (0.0002174809203674859, 'sport_GUA'),
 (0.00021709001448099222, 'sport_PHI'),
 (0.0002146667882657317, 'sport_SEN'),
 (0.00019894704134433298, 'sport_CYP'),
 (0.00019269357566439535, 'sport_KSA'),
 (0.00016606453705720042, 'sport_BAR'),
 (0.0001607464428307121, 'sport_CMR'),
 (0.00015566492216093563, 'sport_GAB'),
 (0.0001529379803631284, 'sport_CRC'),
 (0.00015190198005928597, 'sport_ANT'),
 (0.00010575669565150348, 'sport_PAN'),
 (9.045948715342462e-05, 'sport_TKM'),
 (8.631815171342765e-05, 'sport_BUR'),
 (8.559533431628021e-05, 'sport_CIV'),
 (8.428085972201878e-05, 'sport_ESA'),
 (8.075539547789056e-05, 'sport_KGZ'),
 (7.926706447481885e-05, 'sport_MLT'),
 (7.919172851458539e-05, 'sport_NOR'),
 (7.39821529413635e-05, 'sport_SKN'),
 (7.336049823569108e-05, 'sport_PLW'),
 (6.911377504993855e-05, 'sport_BIH'),
 (6.831999979987265e-05, 'sport_MYA'),
 (6.425291803166526e-05, 'sport_NRU'),
 (6.410660431075432e-05, 'sport_GUY'),
 (6.155558914843258e-05, 'sport_NAM'),
 (5.6653000835176364e-05, 'sport_LIB'),
 (5.5686652409532135e-05, 'sport_LCA'),
 (5.3203050408281375e-05, 'sport_GUI'),
 (4.883793481555987e-05, 'sport_CAF'),
 (4.755615123368126e-05, 'sport_FSM'),
 (4.471615253521962e-05, 'sport_PAK'),
 (4.450034606856731e-05, 'sport_SUR'),
 (4.4244688591234385e-05, 'sport_BEN'),
 (3.971798167583406e-05, 'sport_PAR'),
 (3.718686921934112e-05, 'sport_TGA'),
 (3.7182235263541075e-05, 'sport_MAD'),
 (3.714919978414732e-05, 'sport_SEY'),
 (3.446293899292966e-05, 'sport_GHA'),
 (3.3324712691905235e-05, 'sport_SRI'),
 (3.179080974149682e-05, 'sport_BOT'),
 (3.173532896382555e-05, 'sport_AFG'),
 (3.067213928693154e-05, 'sport_GBS'),
 (3.0106866413932572e-05, 'sport_MOZ'),
 (2.9023425957888254e-05, 'sport_BRU'),
 (2.8956764052196493e-05, 'sport_MLI'),
 (2.6468203206411392e-05, 'sport_SAM'),
 (2.5344603139283577e-05, 'sport_DMA'),
 (2.5025556098962894e-05, 'sport_LES'),
 (2.4708290083790252e-05, 'sport_ALB'),
 (2.4469013127651095e-05, 'sport_MKD'),
 (2.4112832691536006e-05, 'sport_BIZ'),
 (2.3123171804954956e-05, 'sport_CGO'),
 (2.296518155604465e-05, 'sport_BOL'),
 (2.2477539048840583e-05, 'sport_DJI'),
 (2.130374320724983e-05, 'sport_SUD'),
 (2.086780863974791e-05, 'sport_NEP'),
 (1.9805632218830494e-05, 'sport_SOL'),
 (1.9599854388416065e-05, 'sport_COD'),
 (1.7347679736038023e-05, 'sport_HAI'),
 (1.6322808859917603e-05, 'sport_ZAM'),
 (1.59938800023406e-05, 'sport_COM'),
 (1.5455055597538397e-05, 'sport_VAN'),
 (1.5345920309301128e-05, 'sport_CAM'),
 (1.4275787562671292e-05, 'sport_STP'),
 (1.2532252655574843e-05, 'sport_RWA'),
 (1.1932057137659198e-05, 'sport_VIN'),
 (1.1359723508897952e-05, 'sport_CPV'),
 (1.1150422508120228e-05, 'sport_LAO'),
 (1.0405225303146978e-05, 'sport_CHA'),
 (9.859921061797194e-06, 'sport_YEM'),
 (3.6545598379837504e-06, 'sport_SWZ'),
 (3.6189303595010267e-06, 'sport_MAW'),
 (2.388842216068109e-06, 'sport_TAN'),
 (1.8128900433080363e-06, 'sport_BHU'),
 (0.0, 'sport_TOG'),
 (0.0, 'sport_OMA'),
 (0.0, 'sport_NCA'),
 (0.0, 'sport_GRN'),
 (0.0, 'sport_GEQ'),
 (0.0, 'sport_BAN')]

## Random Forest using Easy Ensemble Classifier

In [34]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
clf = EasyEnsembleClassifier(n_estimators=100, random_state=1).fit(X_train,y_train)

In [35]:
y_pred = clf.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6723653760569649

In [36]:
# Calculated the balanced accuracy score
y_pred = clf.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6723653760569649

In [37]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[1298,  802],
       [ 117,  311]], dtype=int64)

In [38]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.92      0.62      0.73      0.74      0.67      0.44      2100
          1       0.28      0.73      0.62      0.40      0.67      0.45       428

avg / total       0.81      0.64      0.71      0.68      0.67      0.45      2528